*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#heading {
  color: red;
}

.header{
display: flex;
justify-content: space-between;
border: 1px solid black;
align-items: center;
}

.login-btn{
    padding: 6px;
    background-color: #000;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    border: none;
}
.food-logo{
    width: 50%;
}
.food-logo img{
    width: 118px;
}
.nav-items ul {
    display: flex;
    gap: 40px;
    margin-right: 20px;

}

.nav-items ul li{
    list-style: none;
    cursor: pointer;
}

.restro-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}
.restroCard {
    width: 200px;
    border: 1px solid #000;
    cursor: pointer;
    /* padding: 20px; */
    border-radius: 5px;
}

.restroCard:hover{
    border: 1px solid #228bef;
}
.foodImg {
    width: 100%;
}
.foodImg img{
    max-width: 198px;
    height: 250px;
}
.foodDetail{
padding: 10px 0 0 16px;
}
.foodDetail h5{
    padding: 10px 0;
}
.foodDetail span{
    padding-top: 10px;
}

.filter{
    display: flex;
}
.filter-btn{
    padding: 12px;
    margin: 10px;
    cursor: pointer;
    background-color: black;
    color: #fff;
}

/* Shimmer Card CSS */
.shimmer-container{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}
.shimmer-card{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    cursor: pointer;
    /* padding: 20px; */
    border-radius: 5px;
    background-color: #e4e4e4;
}

/* end */

.search-box{
    margin: 20px 20px;
}
.search-box input{
    padding: 10px;
}
.search-box button{
    padding: 10px;
    cursor: pointer;
}